:root{
    --bg-color: #eee;
    --border-color: #aaa;
    --font-color: #333;
    --body-color: #fff;
    }
.dark-theme{
    --bg-color: #273340;
    --border-color: rgb(66,83,100);
    --font-color: #fff;
    --body-color: #15202b;
}
header nav i{
    cursor: pointer;
    color: var(--font-color);
    transition: all 0.4s ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' VT323', monospace;
}
body{
    background-color: var(--body-color);
    color: var(--font-color);
    overflow: hidden;
    transition: all 0.3s ease;
}
.container{
    position: relative;
}
header{
    background-color: var(--bg-color) ;
    position: fixed;
    width: 100%;
    top:0;
    transition: all 0.3s ease;
}
header nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding:1rem ;
    transition: all 0.3s ease;
}
header nav h2{
    letter-spacing: 5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
main article{
    text-align: center;
    padding: 1rem;
}
main article p{
    margin: 0.3rem 0;
}
main article p a{
    color: var(--font-color);
    text-decoration: none;
    border-bottom: solid 1px var(--border-color);
    transition: all 0.3s ease;
}
main article p a:hover{
    color: var(--border-color);
}
main article span{
    font: size 0.9rem;
    color: var(--border-color);
}
main article ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0.7rem;
    list-style-type: none;
}
main article ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.3s ease;}
main article ul li:hover a{
    color: var(--border-color);
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--bg-color) ;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}
footer nav{
    padding: 0.5rem;
    border-top: 1px solid var(--border-color);
    font-weight: bold;
    transition: all 0.3s ease;
}